/* Los estilos de tu proyecto */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.border {
  border: none;
}

.border-white {
  border: 2px solid white;
}

.border-white-bottom {
  border-bottom: 2px solid white;
}

.margin-left {
  margin-left: -20px;
}

.nav-color {
  background-color: white;
  border: none;
}

.section1 {
  background-image: url('../assets/images/taxi.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  vertical-align: middle;
}

.section1-xs {
  height: 500px;
}

.color-yellow {
  background-color: #fb1;
}

.vertical-align-desktop {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.vertical-align-mobile {
  position: relative;
  top: 35%;
}

.vertical-align-mobile-xs {
  position: relative;
  top: 25%;
}

.text-white {
  color: white;
}

.space-letter {
  letter-spacing: 2px;
}

.line-height {
  line-height: 32px;
}

.line-height-2 {
  line-height: 22px;
}

.img-weight-big {
  width: 28%;
  vertical-align: sub;
  padding-left: 15px;
}

.img-weight-small {
  width: 20%;
  vertical-align: sub;
  padding-left: 20px;
}

.top30 {
  margin-top: 30px;
}

.top-30 {
  margin-top: -30px;
}

.left-30 {
  margin-left: -30px;
}

.top20 {
  margin-top: 20px;
}

.bottom20 {
  margin-bottom: 20px;
}

.bottom10 {
  margin-bottom: 10px;
}

.top10 {
  margin-top: 10px;
}

.bottom30 {
  margin-bottom: 30px;
}

.bottom60 {
  margin-bottom: 60px;
}

.bottom-30 {
  margin-bottom: -30px;
}

.relative {
  position: relative;
  top: 15%;
  transform: translateY(150%)
}

.span {
  position: relative;
  top: -40px;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.padding10 {
  padding-left: 2%;
}
.padding5-right {
  padding-right: 5px;
}

.padding10bottom {
  padding-bottom: 10px;
}

.padding40top {
  padding-top: 40px;
}

.section2-xs {
  background-image: url('../assets/images/conduce.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  vertical-align: middle;
}

.section2 {
  background-image: url('../assets/images/conduce.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  vertical-align: middle;
}

.color-transparent {
  background-color: transparent
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.overlay-lg {
  background: rgba(0, 0, 0, 0.6);
}

.style {
  padding: 8px;
  border-radius: 5px;
}

.letter {
  font-size: 9px;
  padding: 8px;
  border-radius: 5px;
}

.position-bottom {
  position: relative;
  top: 320px;
}
@media(min-width: 1200) {
  .position-bottom-right {
    position: relative;
    top: 140px;
  }
}
